extends ./layout/layout
block statics
	// .statics `statics block`
	style.
		body{
			color:red
		}
block content
	#container
		h2 content block
block scripts
	.scripts scripts block

	// doctype
// html
// 	head
// 		meta(charset="utf-8")
// 		title #{'title'}
// 	body
// 		h1 #{title}
// 		#user #{name} &lt;#{email}&gt;