extends ./layout/layout
append statics
	link(href="/static/page/index/index.css",rel="stylesheet")
block content
	#container
		h2 喜欢的游戏
		a(href="http://dotabuff.com/players/131131977" target="_blank") dota2
		br
		a(href="http://tw.battle.net/d3/zh/profile/%E9%AD%94%E6%80%94-3961/hero/37061052" target="_blank") 暗黑3
		br
		a(href="http://www.battlenet.com.cn/wow/zh/character/%E4%B8%BB%E5%AE%B0%E4%B9%8B%E5%89%91/Hiyah/" target="_blank") 山口山
		h2 喜欢的网站
		a(href="http://www.douyu.tv/" target="_blank") 斗鱼
		br
		a(href="http://www.twitch.tv/" target="_blank") Twitch
append scripts
	script(src='/static/page/index/index.js')
	// doctype
			// html
// 	head
// 		meta(charset="utf-8")
// 		title #{'title'}
// 	body
// 		h1 #{title}
// 		#user #{name} &lt;#{email}&gt;
